/* Variables */
/* General Styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* -------------------------- Utilities -------------------------*/
.b1 {
  border: 2px solid red;
}

.b2 {
  border: 2px solid green;
}

.b3 {
  border: 2px solid blue;
}

/* -------------------------- Top Header -------------------------*/
.top-header {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding: 5px 50px;
}
.top-header .left-top-header {
  display: flex;
  gap: 20px;
}
.top-header .left-top-header .date-time {
  color: #fe5000;
  background-color: white;
  padding: 1px 20px;
  border-radius: 20px;
}
.top-header .right-top-header {
  display: flex;
}

/* -------------------------- Top Header end -------------------------*/
/* -------------------------- main header start -----------------------*/
.main-header {
  padding: 5px 50px;
}
.main-header .search-bar {
  width: 400px;
  border-bottom: 2px solid #fe5000;
  border-radius: 10px;
}
.main-header .search-bar input {
  border: none;
}

/* -------------------------- main header end   -------------------------*/
/* -------------------------- Navbar start -------------------------*/
.navbar {
  padding: 0px 50px;
  background-color: #008eaa;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: white;
  background-color: #fe5000;
  border-bottom: 1px solid white;
}

/* -------------------------- Navbar end  -------------------------*/
/* -------------------------- About us  -------------------------*/
.aboutus-section {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.aboutus-section .aboutus-section-container {
  width: 68%;
  background-color: #ffefd5;
  padding: 0px 20px;
  color: black;
  border-radius: 30px;
  display: flex;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-img {
  padding: 0px 20px;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-img img {
  width: 200px;
  margin: 10px;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-info {
  width: 70%;
  padding: 30px;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-info .aboutus-heading {
  color: black;
  border-bottom: 3px solid #fe5000;
  padding: 0px 5px;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-info div {
  padding: 10px;
  font-size: 18px;
}
.aboutus-section .aboutus-section-container .aboutus-section-container-info ul {
  line-height: 2rem;
}
.aboutus-section .imp-links {
  width: 30%;
  padding: 0px 20px;
  color: black;
  border: 2px solid gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutus-section .imp-links .imp-link-heading span {
  color: #fe5000;
}
.aboutus-section .imp-links .scrollable-section {
  height: 350px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f8f9fa;
}

/* -------------------------- about us end  -------------------------*/
.service-section {
  padding: 0px 50px;
  padding-bottom: 40px;
}
.service-section h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.service-section h2 span {
  color: #fe5000;
}
.service-section .service-card {
  background: #eef4ff;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.service-section .service-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -5px;
}
.service-section .service-card .icon {
  font-size: 40px;
  color: #4a90e2;
  margin: 10px;
}
.service-section .service-card .info {
  padding: 5px;
}
.service-section .service-card .info h5 {
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.service-section .service-card .info p {
  color: #555;
  font-size: 14px;
}

.service-section2 {
  position: relative;
  background-color: #eeecf9;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.service-section2 .card-wrapper {
  width: 1100px;
}
.service-section2 .card-wrapper .card {
  height: 270px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.4s;
}
.service-section2 .card-wrapper .card img:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}
.service-section2 .btn1 {
  background-color: #fe5000;
  border-radius: 30px;
  border: none;
}
.service-section2 .overlay {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  width: 90%;
  height: 228px;
  background: #008eaa;
  border-radius: 20px;
  opacity: 0.8;
  /* Optional transparency */
}

.social-media-section {
  padding: 50px 0;
  text-align: center;
  background: url(/assets/images/press-release.png);
}
.social-media-section .card {
  padding: 10px 8px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.social-media-section .card .card-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.social-media-section .card .card-logo i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.social-media-section .card .card-logo h4 {
  font-size: 18px;
  font-weight: bold;
}
.social-media-section .card .card-content {
  border: 2px solid rgb(175, 175, 175);
  height: 300px;
  background-color: white;
  color: #000000;
  border-radius: 10px;
}
.social-media-section .card:hover {
  transform: scale(1.05);
}
.social-media-section .facebook {
  background: linear-gradient(135deg, #1877f2, #4c8bf5);
}
.social-media-section .instagram {
  background: linear-gradient(135deg, #e1306c, #f77737);
}
.social-media-section .twitter {
  background: linear-gradient(135deg, #03121b, #000000);
}
.social-media-section .linkedin {
  background: linear-gradient(135deg, #0077b5, #0e6ba8);
}

.media-tabs {
  padding: 30px 0;
  text-align: center;
}
.media-tabs h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.media-tabs h2 span {
  color: #fe5000;
}
.media-tabs .nav-tabs {
  justify-content: center;
  border-bottom: 2px solid #ddd;
}
.media-tabs .nav-tabs .nav-item .nav-link {
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}
.media-tabs .nav-tabs .nav-item .nav-link:hover, .media-tabs .nav-tabs .nav-item .nav-link.active {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}
.media-tabs .tab-content {
  margin-top: 30px;
}
.media-tabs .gallery-item {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}
.media-tabs .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.media-tabs .gallery-item:hover {
  transform: scale(1.05);
}
.media-tabs .video-item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.client-carousel {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #eafcff;
  padding: 0px 50px;
}
.client-carousel .client-btn {
  width: 100px;
}

.footer {
  background: #0b0c10;
}
.footer .upper-footer {
  display: flex;
  flex-direction: row;
}
.footer .upper-footer .f1 {
  width: 22%;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */